In [209]:
import requests
import pandas as pd
import numpy as np
from io import StringIO


def financial_statement(year, season, type='綜合損益彙總表'):

    if year >= 1000:
        year -= 1911

    if type == '綜合損益彙總表':
        url = 'https://mops.twse.com.tw/mops/web/t163sb04'
    elif type == '資產負債彙總表':
        url = 'https://mops.twse.com.tw/mops/web/t163sb05'
    elif type == '營益分析彙總表':        
        url = 'https://mops.twse.com.tw/mops/web/t163sb06'
    else:
        print('type does not match')

    r = requests.post(url, {
        'encodeURIComponent':1,
        'step':1,
        'firstin':1,
        'off':1,
        'TYPEK':'sii',
        'year':str(year),
        'season':str(season),
    })

    r.encoding = 'utf8'
    dfs = pd.read_html(StringIO(r.text), header=None)
    dfs=dfs[9]
    dfs.columns=dfs.iloc[0,:]
    dfs=dfs.iloc[1:,:]
    return dfs
    # return pd.concat(dfs[9], axis=0, sort=False).set_index(['公司代號']).apply(lambda s: pd.to_numeric(s, errors='ceorce'))

In [210]:
df=financial_statement(107,1,'營益分析彙總表')
df

,公司代號,公司名稱,營業收入(百萬元),毛利率(%)(營業毛利)/(營業收入),營業利益率(%)(營業利益)/(營業收入),稅前純益率(%)(稅前純益)/(營業收入),稅後純益率(%)(稅後純益)/(營業收入)
1,1101,台泥,24179.21,23.95,19.23,19.10,11.85
2,1102,亞泥,16573.88,20.09,16.13,18.41,14.57
3,1103,嘉泥,471.26,11.63,-10.75,41.04,33.99
4,1104,環泥,1166.10,11.88,4.24,0.89,0.20
5,1108,幸福,832.71,2.47,-4.15,-3.71,-0.74
...,...,...,...,...,...,...,...
937,9944,新麗,811.74,22.70,2.49,2.55,1.75
938,9945,潤泰新,3050.18,21.84,8.90,101.04,88.29
939,9946,三發地產,300.23,32.95,18.71,17.31,18.22
940,9955,佳龍,416.15,-3.65,-10.67,-11.93,-10.89
941,9958,世紀鋼,412.80,15.01,6.30,2.04,1.90