In [13]:
import requests
import datetime
from io import StringIO
import pandas as pd
import numpy as np
datestr = '20180131'
# 下載股價
r = requests.post('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + datestr + '&type=ALL')
# res =requests.post('https://www.twse.com.tw/zh/page/trading/exchange/MI_INDEX.html')

# print(r.text)

In [9]:
# 整理資料，變成表格
df = pd.read_csv(StringIO(r.text.replace("=", "")), 
            header=["證券代號" in l for l in r.text.split("\n")].index(True)-1)

# 整理一些字串：
df1 = df.apply(lambda s: pd.to_numeric(s.astype(str).str.replace(",", "").replace("+", "1").replace("-", "-1"), errors='coerce'))

In [12]:
print()
df.head()

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
0,0050,元大台灣50,"4,251,739","1,176","359,040,915",84.40,85.00,84.15,84.65,+,0.10,84.60,21,84.65,80,0.00,NaN
1,0051,元大中型100,"7,500",3,"243,040",32.39,32.39,32.39,32.39,+,0.09,32.39,43,32.50,5,0.00,NaN
2,0052,富邦科技,"4,001",5,"229,706",57.35,57.60,57.30,57.40,+,0.05,57.35,1,57.90,1,0.00,NaN
3,0053,元大電子,1,1,37,--,--,--,--,,0.00,37.09,50,37.35,1,0.00,NaN
4,0054,元大台商50,"2,001",3,"48,904",24.44,24.44,24.44,24.44,-,0.05,24.41,50,24.64,8,0.00,NaN

In [88]:
df[pd.to_numeric(df['本益比'], errors='coerce') < 15].sort_values('本益比')

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
0,0050,元大台灣50,"4,251,739","1,176","359,040,915",84.40,85.00,84.15,84.65,+,0.10,84.60,21,84.65,80,0.00,NaN
4020,06462P,鴻海富邦98售01,"70,000",18,"180,860",2.64,2.64,2.37,2.39,-,0.11,2.42,499,2.43,499,0.00,NaN
4031,06463P,大立光富邦9A售01,"70,000",4,"181,600",2.68,2.68,2.50,2.50,+,0.01,2.51,499,2.52,499,0.00,NaN
4042,06464P,台光電亞東99售01,"21,000",2,"60,950",2.90,2.95,2.90,2.95,+,0.18,2.72,499,2.73,499,0.00,NaN
4048,064655,玉晶光台新73購01,"15,000",1,"1,050",0.07,0.07,0.07,0.07,-,0.01,0.07,10,0.08,10,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13215,2597,潤弘,"28,000",25,"1,055,200",38.00,38.00,37.60,37.90,,0.00,37.60,28,37.90,5,9.82,NaN
13124,2420,新巨,"171,067",154,"5,880,271",34.55,34.60,34.30,34.55,,0.00,34.45,3,34.55,23,9.87,NaN
12792,1104,環泥,"202,209",146,"4,612,469",22.80,22.90,22.75,22.85,,0.00,22.80,26,22.85,18,9.89,NaN
13269,2867,三商壽,"1,819,892",588,"29,144,872",16.05,16.10,15.95,16.00,-,0.15,16.00,321,16.05,1,9.94,NaN
13301,2936,客思達-KY,"18,000",15,"557,200",31.00,31.30,30.85,31.00,-,0.15,31.00,1,31.30,2,9.97,NaN